<% if(success.length){ %>
    <br>
    <div class="alert alert-success alert-dismissible fade show col-8 offset-2" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
<% if(failure.length){ %>
    <br>
    <div class="alert alert-danger alert-dismissible fade show col-8 offset-2" role="alert">
        <%= failure %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>
