<style>
  .btn-search{
    background-color: red;
    color: white;
    border-radius: 2rem;
    width: 10rem;
  }
  .btn-search:hover{
    background-color: red;
    color: white;
    border-radius: 2rem;
    width: 10rem;
  }
  .btn-search i {
    display: inline;
  }
  .bar-search{
    border-radius: 2rem !important;
  }
</style>



<nav class="navbar navbar-expand-lg  border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand text-danger fw-bold" href="/listings"><i class="fa-solid fa-shop"></i> SAM Rooms</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="/listings">All Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Add New Listing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  target="_blank" href="https://sanket-singh-sameer.github.io/">More From SAM</a>
        </li>
        
        <li class="nav-item">
        </li>
      </ul>
    </div> -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a href="/listings" class="nav-link ms-3">All Listings</a>
        <a href="/listings/new" class="nav-link ms-3">Add New Place</a>
        <a target="_blank" href="https://sanket-singh-sameer.github.io/" class="nav-link ms-3">More From Sam</a>
      </div>
      <div class="navbar-nav d-flex align-items-center ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 bar-search" type="search" placeholder="Search destinations" aria-label="Search">
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i> &nbsp; Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!isUser){ %>
          <a href="/signup" class="nav-link me-3">SignUp</a>
          <a href="/login" class="nav-link me-3">LogIn</a>
          <% } %>
            <% if(isUser){ %>
              <a href="/logout" class="nav-link me-3">LogOut</a>
              <% } %>
      </div>
    </div>
  </div>
</nav>