<% layout("/layouts/boilerplate.ejs") %>

    <br> <br>

    <div class="row">
        <div class="col-10 offset-1">
            <h3>LogIn to SamRooms: </h3>
            <br>
            <form method="post" action="/login" novalidate class="needs-validation">
                <div class="mb-3 col-sm-8">
                    <label for="username" form="label">Username</label>
                    <input type="text" name="username" placeholder="Enter your username" class="form-control"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a username.
                    </div>
                    <br>
                </div>
                

                <div class="mb-3 col-sm-8">
                    <label for="password" form="label">Password</label>
                    <input type="password" name="password" placeholder="Enter your password" class="form-control"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a password.
                    </div>
                    <br>
                </div>

                <button class="btn btn-danger"> LogIn !</button> <br> <br>
            </form>
        </div>

    </div>