<% layout("/layouts/boilerplate.ejs") %>

    <br> <br>

    <div class="row">
        <div class="col-10 offset-1">
            <h3>SignUp for SamRooms: </h3>
            <br>
            <form method="post" action="/signup" novalidate class="needs-validation">
                <div class="mb-3 col-sm-8">
                    <label for="username" form="label">Username</label>
                    <input type="text" name="username" placeholder="Select a username" class="form-control"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a username.
                    </div>
                    <br>
                </div>



                    <div class="mb-3 col-sm-8">
                        <label for="email" form="label">Email</label>
                        <input type="email" name="email" placeholder="Enter your email"
                            class="form-control" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide an email.
                        </div>
                        <br>
                    </div>
                

                <div class="mb-3 col-sm-8">
                    <label for="password" form="label">Password</label>
                    <input type="password" name="password" placeholder="Create a strong password" class="form-control"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a password.
                    </div>
                    <br>
                </div>

                <button class="btn btn-danger"> SignUp !</button> <br> <br>
            </form>
        </div>

    </div>